<h1>Examples#index</h1>

<p>Find me in app/views/examples/index.html.erb</p>

<hr>

<%#= AdvertSelector::initialize_banners %>
<%= advert_selector_initialize %>

<hr>

<%= content_for_placement(:leaderboard) %>

<hr>

