<!DOCTYPE html>
<html>
<head>
  <title>AdvertSelector</title>
  <%= stylesheet_link_tag    "advert_selector/application", :media => "all" %>
  <%= javascript_include_tag "advert_selector/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
